			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >




				<ul data-role="listview" data-inset="false">
					<li data-role="list-divider">Elements</li>
				</ul>
				<div data-role="collapsible" data-inset="false"  data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Basic Elements</h3>
					<ul data-role="listview" data-inset="false" data-icon="false">
						<li><a href="javascript:createElement();" data-ajax='false' data-icon="false">Make block</a></li>
						<li><a href="#page-text" data-ajax='false' data-icon="false">Text Elements</a></li>
						<li><a href="#page-grid" data-ajax='false' data-icon="false">FlexboxGrid</a></li>
						<li><a href="#page-buttons" data-ajax='false' data-icon="false">Buttons</a></li>
						<li><a href="#page-header-footer" data-ajax='false'>Header &amp; Footer</a></li>
						<li><a href="#page-listviews" data-ajax='false'>Listviews</a></li>
						<li><a href="#page-forms" data-ajax='false'>Forms</a></li>
						<li><a href="#page-tables" data-ajax='false'>Tables</a></li>
						<li><a href="#page-dialog-popups" data-ajax='false'>Dialog &amp; Popup</a></li>
						<li><a href="#page-panels" data-ajax='false'>Panels</a></li>
						<li><a href="#page-autocomplete" data-ajax='false'>Autocomplete</a></li>
						<li><a href="#page-collapsible" data-ajax='false'>Collapsible &amp; Accordions</a></li>
					</ul>
				</div>
				
			</div>
			<!-- /panel left -->
